{
	"root": true,
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"project": true,
		"tsconfigRootDir": "./",
		"parser": "@typescript-eslint/parser",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"extends": ["@nuxt/eslint-config"],
	"rules": {
		// eslint
		/* possible problems */
		"array-callback-return": ["error", { "allowImplicit": true }],
		"constructor-super": "error",
		"for-direction": "error",
		"getter-return": ["error", { "allowImplicit": true }],
		"no-async-promise-executor": ["error"],
		"no-await-in-loop": ["error"],
		"no-compare-neg-zero": ["error"],
		"no-cond-assign": ["error", "always"],
		"no-const-assign": ["error"],
		"no-constant-binary-expression": ["error"],
		"no-constant-condition": ["error", { "checkLoops": false }],
		"no-constructor-return": ["error"],
		"no-control-regex": ["error"],
		"no-debugger": ["error"],
		"no-dupe-args": ["error"],
		// "no-dupe-class-members": ["error"],
		"no-dupe-else-if": ["error"],
		"no-dupe-keys": ["error"],
		"no-duplicate-case": ["error"],
		// "no-duplicate-imports": ["error"],
		"no-empty-character-class": ["error"],
		"no-empty-pattern": ["error"],
		"no-ex-assign": ["error"],
		"no-fallthrough": ["error"],
		"no-func-assign": ["error"],
		"no-import-assign": ["error"],
		"no-inner-declarations": ["error", "functions"],
		"no-invalid-regexp": ["error"],
		"no-irregular-whitespace": ["error"],
		// "no-loss-of-precision": ["error"],
		"no-misleading-character-class": ["error"],
		// "no-new-native-non-constructor": ["error"],
		"no-new-symbol": ["error"],
		"no-obj-calls": ["error"],
		"no-prototype-builtins": ["error"],
		"no-self-assign": ["error"],
		"no-self-compare": ["error"],
		"no-setter-return": ["error"],
		"no-sparse-arrays": ["error"],
		"no-template-curly-in-string": ["error"],
		"no-this-before-super": ["error"],
		// "no-undef": ["error"], // nuxt trash
		"no-unexpected-multiline": ["error"],
		"no-unmodified-loop-condition": ["error"],
		"no-unreachable": ["error"],
		"no-unreachable-loop": ["error"],
		"no-unsafe-finally": ["error"],
		"no-unsafe-negation": ["error"],
		"no-unsafe-optional-chaining": ["error"],
		"no-unused-private-class-members": ["error"],
		// "no-unused-vars": ["error"],
		// "no-use-before-define": ["error"],
		"no-useless-backreference": ["error"],
		"require-atomic-updates": ["error"],
		"use-isnan": ["error"],
		"valid-typeof": ["error"],
		/* suggestions */
		"accessor-pairs": ["error"],
		"arrow-body-style": "off",
		"block-scoped-var": ["error"],
		"camelcase": ["error"],
		"capitalized-comments": ["error", "never"],
		"class-methods-use-this": ["error"],
		"complexity": "off",
		"consistent-return": "off",
		"consistent-this": ["error", "that"],
		"curly": "off",
		"default-case": ["error"],
		"default-case-last": ["error"],
		// "default-param-last": ["error"],
		// "dot-notation": ["error"],
		"eqeqeq": ["error", "always"],
		"func-name-matching": "off",
		"func-names": "off",
		"func-style": ["error", "declaration", { "allowArrowFunctions": true }],
		"grouped-accessor-pairs": ["error", "getBeforeSet"],
		"guard-for-in": ["error"],
		"id-denylist": ["error", "data", "err", "e", "cb", "callback"],
		"id-length": "off",
		"id-match": ["error", "^[a-zA-Z]+$", { "properties": true, "classFields": true, "onlyDeclarations": false }],
		// "init-declarations": "off",
		"logical-assignment-operators": ["error", "always"],
		"max-classes-per-file": ["error", 1],
		"max-depth": ["error", 4],
		"max-lines": ["error", { "max": 500, "skipBlankLines": true, "skipComments": true }],
		"max-lines-per-function": ["error", { "max": 100, "skipBlankLines": true, "skipComments": true, "IIFEs": true }],
		"max-nested-callbacks": "off",
		"max-params": ["error", 4],
		"max-statements": ["error", 20],
		"multiline-comment-style": "off",
		"new-cap": ["error"],
		"no-alert": ["error"],
		// "no-array-constructor": ["error"],
		"no-bitwise": ["error"],
		"no-caller": ["error"],
		"no-case-declarations": ["error"],
		"no-confusing-arrow": "off",
		"no-console": ["error"],
		"no-continue": ["error"],
		"no-delete-var": ["error"],
		"no-div-regex": ["error"],
		"no-else-return": ["error"],
		"no-empty": ["error"],
		// "no-empty-function": ["error"],
		"no-empty-static-block": ["error"],
		"no-eq-null": ["error"],
		"no-eval": ["error"],
		"no-extend-native": ["error"],
		"no-extra-bind": ["error"],
		"no-extra-label": ["error"],
		// "no-extra-semi": ["error"],
		"no-floating-decimal": ["error"],
		"no-global-assign": ["error"],
		"no-implicit-coercion": ["error"],
		"no-implicit-globals": ["error"],
		// "no-implied-eval": ["error"],
		"no-inline-comments": "off",
		// "no-invalid-this": ["error"],
		"no-iterator": ["error"],
		"no-label-var": ["error"],
		"no-labels": ["error"],
		"no-lone-blocks": ["error"],
		"no-lonely-if": ["error"],
		// "no-loop-func": ["error"],
		// "no-magic-numbers": ["error"],
		"no-mixed-operators": "off",
		"no-multi-assign": ["error"],
		"no-multi-str": ["error"],
		"no-negated-condition": "off",
		"no-nested-ternary": "off",
		"no-new": ["error"],
		"no-new-func": ["error"],
		"no-new-object": ["error"],
		"no-new-wrappers": ["error"],
		"no-nonoctal-decimal-escape": ["error"],
		"no-octal": ["error"],
		"no-octal-escape": ["error"],
		"no-param-reassign": ["error"],
		"no-plusplus": ["error"],
		"no-proto": ["error"],
		// "no-redeclare": ["error"],
		"no-regex-spaces": ["error"],
		"no-restricted-exports": "off",
		"no-restricted-globals": "off",
		// "no-restricted-imports": "off",
		"no-restricted-properties": "off",
		"no-restricted-syntax": "off",
		"no-return-assign": ["error"],
		// "no-return-await": ["error"],
		"no-script-url": ["error"],
		"no-sequences": ["error"],
		// "no-shadow": ["error"],
		"no-shadow-restricted-names": ["error"],
		"no-ternary": "off",
		// "no-throw-literal": ["error"],
		"no-undef-init": ["error"],
		"no-undefined": ["error"],
		"no-underscore-dangle": ["error"],
		"no-unneeded-ternary": ["error"],
		// "no-unused-expressions": ["error"],
		"no-unused-labels": ["error"],
		"no-useless-call": ["error"],
		"no-useless-catch": ["error"],
		"no-useless-computed-key": ["error"],
		"no-useless-concat": ["error"],
		// "no-useless-constructor": ["error"],
		"no-useless-escape": ["error"],
		"no-useless-rename": ["error"],
		"no-useless-return": ["error"],
		"no-var": ["error"],
		"no-void": "off",
		"no-warning-comments": "off",
		"no-with": ["error"],
		"object-shorthand": ["error"],
		"one-var": "off",
		"one-var-declaration-per-line": "off",
		"operator-assignment": ["error", "always"],
		"prefer-arrow-callback": ["error"],
		"prefer-const": ["error"],
		"prefer-destructuring": ["error"],
		"prefer-exponentiation-operator": ["error"],
		"prefer-named-capture-group": "off",
		"prefer-numeric-literals": ["error"],
		"prefer-object-spread": ["error"],
		"prefer-promise-reject-errors": ["error"],
		"prefer-regex-literals": ["error"],
		"prefer-rest-params": ["error"],
		"prefer-spread": ["error"],
		"prefer-template": ["error"],
		"quote-props": ["error", "as-needed"],
		"radix": ["error"],
		// "require-await": ["error"],
		"require-unicode-regexp": "off",
		"require-yield": ["error"],
		"sort-imports": "off",
		"sort-keys": "off",
		"sort-vars": "off",
		"spaced-comment": ["error", "always"],
		"strict": ["error", "never"],
		"symbol-description": ["error"],
		"vars-on-top": "off",
		"yoda": ["error", "never"],
		/* layout & formatting */
		"array-bracket-newline": ["error", "consistent"],
		"array-bracket-spacing": ["error", "never"],
		"array-element-newline": ["error", "consistent"],
		"arrow-parens": ["error", "as-needed"],
		"arrow-spacing": ["error", { "before": true, "after": true }],
		// "block-spacing": ["error", "always"],
		// "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		// "comma-dangle": ["error", "always-multiline"],
		// "comma-spacing": ["error", { "before": false, "after": true }],
		"comma-style": ["error", "last"],
		"computed-property-spacing": ["error", "never"],
		"dot-location": ["error", "property"],
		"eol-last": ["error", "always"],
		// "func-call-spacing": ["error", "never"],
		"function-call-argument-newline": ["error", "consistent"],
		"function-paren-newline": ["error", "consistent"],
		"generator-star-spacing": ["error", { "before": false, "after": true }],
		"implicit-arrow-linebreak": ["error", "beside"],
		// "indent": ["error", "tab", { "SwitchCase": 1 }],
		"jsx-quotes": ["error", "prefer-double"],
		// "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		// "keyword-spacing": ["error", { "before": true, "after": true }],
		"line-comment-position": "off",
		"linebreak-style": ["error", "unix"],
		// "lines-around-comment": "off",
		// "lines-between-class-members": ["error", "always"],
		"max-len": "off",
		"max-statements-per-line": ["error", { "max": 1 }],
		"multiline-ternary": "off",
		"new-parens": ["error", "always"],
		"newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
		// "no-extra-parens": "off",
		"no-mixed-spaces-and-tabs": ["error"],
		"no-multi-spaces": ["error"],
		"no-tabs": "off",
		"no-trailing-spaces": ["error"],
		"no-whitespace-before-property": ["error"],
		"nonblock-statement-body-position": ["error", "beside"],
		"object-curly-newline": ["error", { "consistent": true }],
		// "object-curly-spacing": ["error", "always"],
		"object-property-newline": "off",
		"operator-linebreak": ["error", "before"],
		"padded-blocks": ["error", "never"],
		// "padding-line-between-statements": "off",
		// "quotes": ["error", "single", { "avoidEscape": true }],
		"rest-spread-spacing": ["error", "never"],
		// "semi": ["error", "always"],
		"semi-spacing": ["error", { "before": false, "after": true }],
		"semi-style": ["error", "last"],
		// "space-before-blocks": ["error", "always"],
		// "space-before-function-paren": ["error", "never"],
		"space-in-parens": ["error", "never"],
		// "space-infix-ops": ["error"],
		"space-unary-ops": ["error", { "words": true, "nonwords": false }],
		"switch-colon-spacing": ["error", { "after": true, "before": false }],
		"template-curly-spacing": ["error", "never"],
		"template-tag-spacing": ["error", "never"],
		"unicode-bom": ["error", "never"],
		"wrap-iife": ["error", "any"],
		"wrap-regex": ["error"],
		"yield-star-spacing": ["error", "after"],
		// typescript eslint
		"@typescript-eslint/adjacent-overload-signatures": ["error"],
		"@typescript-eslint/array-type": ["error", { "default": "array", "readonly": "array" }],
		"@typescript-eslint/await-thenable": ["error"],
		"@typescript-eslint/ban-ts-comment": ["error"],
		"@typescript-eslint/ban-types": ["error"],
		"@typescript-eslint/class-literal-property-style": ["error", "fields"],
		"@typescript-eslint/consistent-generic-constructors": ["error", "constructor"],
		"@typescript-eslint/consistent-indexed-object-style": ["error", "index-signature"],
		"@typescript-eslint/consistent-type-assertions": "off",
		"@typescript-eslint/consistent-type-definitions": ["error", "interface"],
		"@typescript-eslint/consistent-type-exports": ["error", { "fixMixedExportsWithInlineTypeSpecifier": true }],
		"@typescript-eslint/consistent-type-imports": ["error", { "prefer": "type-imports", "fixStyle": "inline-type-imports", "disallowTypeAnnotations": true }],
		"@typescript-eslint/explicit-function-return-type": ["error"],
		"@typescript-eslint/explicit-member-accessibility": "off",
		"@typescript-eslint/explicit-module-boundary-types": ["error"],
		"@typescript-eslint/member-delimiter-style": ["error", { "multiline": { "delimiter": "semi", "requireLast": true }, "singleline": { "delimiter": "semi", "requireLast": true } }],
		"@typescript-eslint/member-ordering": "off",
		"@typescript-eslint/method-signature-style": ["error", "method"],
		"@typescript-eslint/naming-convention": "off",
		"@typescript-eslint/no-base-to-string": ["error"],
		"@typescript-eslint/no-confusing-non-null-assertion": "off",
		"@typescript-eslint/no-confusing-void-expression": "off",
		"@typescript-eslint/no-duplicate-enum-values": ["error"],
		"@typescript-eslint/no-duplicate-type-constituents": ["error"],
		"@typescript-eslint/no-dynamic-delete": ["error"],
		"@typescript-eslint/no-empty-interface": ["error"],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-extra-non-null-assertion": ["error"],
		"@typescript-eslint/no-extraneous-class": ["error"],
		"@typescript-eslint/no-floating-promises": ["error"],
		"@typescript-eslint/no-for-in-array": ["error"],
		"@typescript-eslint/no-import-type-side-effects": ["error"],
		"@typescript-eslint/no-inferrable-types": "off",
		"@typescript-eslint/no-invalid-void-type": ["error"],
		"@typescript-eslint/no-meaningless-void-operator": ["error"],
		"@typescript-eslint/no-misused-new": ["error"],
		"@typescript-eslint/no-misused-promises": ["error"],
		"@typescript-eslint/no-mixed-enums": ["error"],
		"@typescript-eslint/no-namespace": ["error"],
		"@typescript-eslint/no-non-null-asserted-nullish-coalescing": ["error"],
		"@typescript-eslint/no-non-null-asserted-optional-chain": ["error"],
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-redundant-type-constituents": ["error"],
		"@typescript-eslint/no-require-imports": ["error"],
		"@typescript-eslint/no-this-alias": ["error"],
		"@typescript-eslint/no-type-alias": "off",
		"@typescript-eslint/no-unnecessary-boolean-literal-compare": ["error"],
		"@typescript-eslint/no-unnecessary-condition": ["error"],
		"@typescript-eslint/no-unnecessary-qualifier": ["error"],
		"@typescript-eslint/no-unnecessary-type-arguments": ["error"],
		"@typescript-eslint/no-unnecessary-type-assertion": ["error"],
		"@typescript-eslint/no-unnecessary-type-constraint": ["error"],
		"@typescript-eslint/no-unsafe-argument": ["error"],
		"@typescript-eslint/no-unsafe-assignment": ["error"],
		"@typescript-eslint/no-unsafe-call": ["error"],
		"@typescript-eslint/no-unsafe-declaration-merging": ["error"],
		"@typescript-eslint/no-unsafe-member-access": ["error"],
		"@typescript-eslint/no-unsafe-return": ["error"],
		"@typescript-eslint/no-useless-empty-export": ["error"],
		"@typescript-eslint/no-var-requires": ["error"],
		"@typescript-eslint/non-nullable-type-assertion-style": ["error"],
		"@typescript-eslint/parameter-properties": "off",
		"@typescript-eslint/prefer-as-const": ["error"],
		"@typescript-eslint/prefer-enum-initializers": ["error"],
		"@typescript-eslint/prefer-for-of": ["error"],
		"@typescript-eslint/prefer-function-type": ["error"],
		"@typescript-eslint/prefer-includes": ["error"],
		"@typescript-eslint/prefer-literal-enum-member": ["error"],
		"@typescript-eslint/prefer-namespace-keyword": ["error"],
		"@typescript-eslint/prefer-nullish-coalescing": ["error"],
		"@typescript-eslint/prefer-optional-chain": ["error"],
		"@typescript-eslint/prefer-readonly": ["error"],
		// "@typescript-eslint/prefer-readonly-parameter-types": ["error", { "ignoreInferredTypes": true }],
		"@typescript-eslint/prefer-readonly-parameter-types": "off",
		"@typescript-eslint/prefer-reduce-type-parameter": ["error"],
		"@typescript-eslint/prefer-regexp-exec": "off",
		"@typescript-eslint/prefer-return-this-type": ["error"],
		"@typescript-eslint/prefer-string-starts-ends-with": ["error"],
		"@typescript-eslint/prefer-ts-expect-error": ["error"],
		"@typescript-eslint/promise-function-async": ["error"],
		"@typescript-eslint/require-array-sort-compare": ["error"],
		"@typescript-eslint/restrict-plus-operands": ["error"],
		"@typescript-eslint/restrict-template-expressions": ["error"],
		"@typescript-eslint/sort-type-constituents": ["error"],
		"@typescript-eslint/strict-boolean-expressions": ["error"],
		"@typescript-eslint/switch-exhaustiveness-check": ["error"],
		"@typescript-eslint/triple-slash-reference": ["error", { "path": "always", "types": "prefer-import", "lib": "always" }],
		"@typescript-eslint/type-annotation-spacing": ["error"],
		"@typescript-eslint/typedef": ["error", { "arrayDestructuring": false, "arrowParameter": true, "memberVariableDeclaration": false, "objectDestructuring": false, "parameter": false, "propertyDeclaration": false, "variableDeclaration": true, "variableDeclarationIgnoreFunction": true }],
		"@typescript-eslint/unbound-method": ["error"],
		"@typescript-eslint/unified-signatures": ["error"],
		/* extension rules */
		"@typescript-eslint/block-spacing": ["error", "always"],
		"@typescript-eslint/brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"@typescript-eslint/comma-dangle": ["error", "always-multiline"],
		"@typescript-eslint/comma-spacing": ["error", { "before": false, "after": true }],
		"@typescript-eslint/default-param-last": ["error"],
		"@typescript-eslint/dot-notation": ["error"],
		"@typescript-eslint/func-call-spacing": ["error", "never"],
		"@typescript-eslint/indent": ["error", "tab", { "SwitchCase": 1 }],
		"@typescript-eslint/init-declarations": "off",
		"@typescript-eslint/key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"@typescript-eslint/keyword-spacing": ["error", { "before": true, "after": true }],
		"@typescript-eslint/lines-around-comment": "off",
		"@typescript-eslint/lines-between-class-members": ["error", "always"],
		"@typescript-eslint/no-array-constructor": ["error"],
		"@typescript-eslint/no-dupe-class-members": ["error"],
		"@typescript-eslint/no-empty-function": ["error"],
		"@typescript-eslint/no-extra-parens": "off",
		"@typescript-eslint/no-extra-semi": ["error"],
		"@typescript-eslint/no-implied-eval": ["error"],
		"@typescript-eslint/no-invalid-this": ["error"],
		"@typescript-eslint/no-loop-func": ["error"],
		"@typescript-eslint/no-loss-of-precision": ["error"],
		"@typescript-eslint/no-magic-numbers": "off",
		"@typescript-eslint/no-redeclare": ["error"],
		"@typescript-eslint/no-restricted-imports": "off",
		"@typescript-eslint/no-shadow": ["error"],
		"@typescript-eslint/no-throw-literal": ["error"],
		"@typescript-eslint/no-unused-expressions": ["error"],
		"@typescript-eslint/no-unused-vars": ["error"],
		"@typescript-eslint/no-use-before-define": ["error"],
		"@typescript-eslint/no-useless-constructor": ["error"],
		"@typescript-eslint/object-curly-spacing": ["error", "always"],
		"@typescript-eslint/padding-line-between-statements": "off",
		"@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true }],
		"@typescript-eslint/require-await": ["error"],
		"@typescript-eslint/return-await": ["error"],
		"@typescript-eslint/semi": ["error", "always"],
		"@typescript-eslint/space-before-blocks": ["error", "always"],
		"@typescript-eslint/space-before-function-paren": ["error", { "anonymous": "never", "named": "never", "asyncArrow": "always" }],
		"@typescript-eslint/space-infix-ops": ["error"],
		// vue eslint
		/* base rules */
		"vue/comment-directive": ["error", { "reportUnusedDisableDirectives": true }],
		"vue/jsx-uses-vars": ["error"],
		/* priority a */
		"vue/multi-word-component-names": "off",
		"vue/no-arrow-functions-in-watch": "off",
		"vue/no-async-in-computed-properties": ["error"],
		"vue/no-child-content": ["error"],
		"vue/no-computed-properties-in-data": ["error"],
		"vue/no-deprecated-data-object-declaration": ["error"],
		"vue/no-deprecated-destroyed-lifecycle": ["error"],
		"vue/no-deprecated-dollar-listeners-api": ["error"],
		"vue/no-deprecated-dollar-scopedslots-api": ["error"],
		"vue/no-deprecated-events-api": ["error"],
		"vue/no-deprecated-filter": ["error"],
		"vue/no-deprecated-functional-template": ["error"],
		"vue/no-deprecated-html-element-is": ["error"],
		"vue/no-deprecated-inline-template": ["error"],
		"vue/no-deprecated-props-default-this": ["error"],
		"vue/no-deprecated-router-link-tag-prop": ["error"],
		"vue/no-deprecated-scope-attribute": ["error"],
		"vue/no-deprecated-slot-attribute": ["error"],
		"vue/no-deprecated-slot-scope-attribute": ["error"],
		"vue/no-deprecated-v-bind-sync": ["error"],
		"vue/no-deprecated-v-is": ["error"],
		"vue/no-deprecated-v-on-native-modifier": ["error"],
		"vue/no-deprecated-v-on-number-modifiers": ["error"],
		"vue/no-deprecated-vue-config-keycodes": ["error"],
		"vue/no-dupe-keys": ["error"],
		"vue/no-dupe-v-else-if": ["error"],
		"vue/no-duplicate-attributes": ["error"],
		"vue/no-export-in-script-setup": ["error"],
		"vue/no-expose-after-await": ["error"],
		"vue/no-lifecycle-after-await": ["error"],
		"vue/no-mutating-props": ["error"],
		"vue/no-parsing-error": ["error"],
		"vue/no-ref-as-operand": ["error"],
		"vue/no-reserved-component-names": ["error"],
		"vue/no-reserved-keys": ["error"],
		"vue/no-reserved-props": ["error"],
		"vue/no-setup-props-destructure": ["error"],
		"vue/no-shared-component-data": ["error"],
		"vue/no-side-effects-in-computed-properties": ["error"],
		"vue/no-template-key": ["error"],
		"vue/no-textarea-mustache": ["error"],
		"vue/no-unused-components": ["error"],
		"vue/no-unused-vars": ["error"],
		"vue/no-use-computed-property-like-method": ["error"],
		"vue/no-use-v-if-with-v-for": ["error"],
		"vue/no-useless-template-attributes": ["error"],
		"vue/no-v-for-template-key-on-child": ["error"],
		"vue/no-v-text-v-html-on-component": ["error"],
		"vue/no-watch-after-await": ["error"],
		"vue/prefer-import-from-vue": ["error"],
		"vue/require-component-is": ["error"],
		"vue/require-prop-type-constructor": ["error"],
		"vue/require-render-return": ["error"],
		"vue/require-slots-as-functions": ["error"],
		"vue/require-toggle-inside-transition": ["error"],
		"vue/require-v-for-key": ["error"],
		"vue/require-valid-default-prop": ["error"],
		"vue/return-in-computed-property": ["error"],
		"vue/return-in-emits-validator": ["error"],
		"vue/use-v-on-exact": ["error"],
		"vue/valid-attribute-name": ["error"],
		"vue/valid-define-emits": ["error"],
		"vue/valid-define-props": ["error"],
		"vue/valid-next-tick": ["error"],
		"vue/valid-template-root": ["error"],
		"vue/valid-v-bind": ["error"],
		"vue/valid-v-cloak": ["error"],
		"vue/valid-v-else-if": ["error"],
		"vue/valid-v-else": ["error"],
		"vue/valid-v-for": ["error"],
		"vue/valid-v-html": ["error"],
		"vue/valid-v-if": ["error"],
		"vue/valid-v-is": ["error"],
		"vue/valid-v-memo": ["error"],
		"vue/valid-v-model": ["error"],
		"vue/valid-v-on": ["error"],
		"vue/valid-v-once": ["error"],
		"vue/valid-v-pre": ["error"],
		"vue/valid-v-show": ["error"],
		"vue/valid-v-slot": ["error"],
		"vue/valid-v-text": ["error"],
		/* priority b */
		"vue/attribute-hyphenation": ["error", "always"],
		"vue/component-definition-name-casing": ["error", "PascalCase"],
		"vue/first-attribute-linebreak": ["error", { "singleline": "beside", "multiline": "below" }],
		"vue/html-closing-bracket-newline": ["error", { "singleline": "never", "multiline": "always" }],
		"vue/html-closing-bracket-spacing": ["error", { "startTag": "never", "endTag": "never", "selfClosingTag": "always" }],
		"vue/html-end-tags": ["error"],
		"vue/html-indent": ["error", "tab", { "attribute": 1, "closeBracket": 0, "alignAttributesVertically": true, "ignores": [] }],
		"vue/html-quotes": ["error", "double"],
		"vue/html-self-closing": ["error", { "html": { "void": "never", "normal": "never", "component": "always" }, "svg": "always", "math": "always" }],
		"vue/max-attributes-per-line": ["error", { "singleline": 10, "multiline": { "max": 1 } }],
		"vue/multiline-html-element-content-newline": ["error"],
		"vue/mustache-interpolation-spacing": ["error", "always"],
		"vue/no-multi-spaces": ["error"],
		"vue/no-spaces-around-equal-signs-in-attribute": ["error"],
		"vue/no-template-shadow": ["error"],
		"vue/one-component-per-file": ["error"],
		"vue/prop-name-casing": ["error", "camelCase"],
		"vue/require-default-prop": "off",
		"vue/require-explicit-emits": ["error"],
		"vue/require-prop-types": ["error"],
		"vue/singleline-html-element-content-newline": "off",
		"vue/v-bind-style": ["error", "shorthand"],
		"vue/v-on-event-hyphenation": ["error", "always"],
		"vue/v-on-style": ["error", "shorthand"],
		"vue/v-slot-style": ["error", "shorthand"],
		/* priority c */
		"vue/attributes-order": "off",
		"vue/component-tags-order": ["error", { "order": ["template", "script", "style"] }],
		"vue/no-lone-template": ["error"],
		"vue/no-multiple-slot-args": ["error"],
		"vue/no-v-html": ["error"],
		"vue/order-in-components": "off",
		"vue/this-in-template": ["error", "never"],
		/* uncategorized */
		"vue/block-lang": ["error", { "script": { "lang": "ts", "allowNoLang": true }, "style": { "lang": "scss", "allowNoLang": true } }],
		"vue/block-tag-newline": ["error", { "singleline": "always", "multiline": "always" }],
		"vue/component-api-style": ["error", ["script-setup"]],
		"vue/component-name-in-template-casing": ["error", "PascalCase"],
		"vue/component-options-name-casing": ["error", "PascalCase"],
		"vue/custom-event-name-casing": ["error", "kebab-case"],
		"vue/define-emits-declaration": ["error", "type-based"],
		"vue/define-macros-order": ["error", { "order": ["defineEmits", "defineProps"] }],
		"vue/define-props-declaration": ["error", "type-based"],
		"vue/html-button-has-type": ["error"],
		"vue/html-comment-content-newline": "off",
		"vue/html-comment-content-spacing": ["error", "always"],
		"vue/html-comment-indent": "off",
		"vue/match-component-file-name": ["error", { "extensions": ["vue"], "shouldMatchCase": true }],
		"vue/match-component-import-name": ["error"],
		"vue/new-line-between-multi-line-property": "off",
		"vue/next-tick-style": ["error", "promise"],
		"vue/no-bare-strings-in-template": "off",
		"vue/no-boolean-default": ["error"],
		"vue/no-duplicate-attr-inheritance": ["error"],
		"vue/no-empty-component-block": ["error"],
		"vue/no-multiple-objects-in-class": ["error"],
		"vue/no-potential-component-option-typo": ["error"],
		"vue/no-required-prop-with-default": ["error"],
		"vue/no-restricted-block": "off",
		"vue/no-restricted-call-after-await": ["error"],
		"vue/no-restricted-class": ["error", "test", "test1", "test2", "test3", "tmp", "temp", "t", "t1", "t2", "t3"],
		"vue/no-restricted-component-options": "off",
		"vue/no-restricted-custom-event": "off",
		"vue/no-restricted-html-elements": ["error", "marquee"],
		"vue/no-restricted-props": "off",
		"vue/no-restricted-static-attribute": "off",
		"vue/no-restricted-v-bind": "off",
		"vue/no-static-inline-styles": ["error"],
		"vue/no-template-target-blank": "off",
		"vue/no-this-in-before-route-enter": ["error"],
		"vue/no-undef-components": "off", // nuxt trash
		"vue/no-undef-properties": ["error"],
		"vue/no-unsupported-features": ["error", { "version": "^3.0.0", "ignores": [] }],
		"vue/no-unused-properties": ["error"],
		"vue/no-unused-refs": ["error"],
		"vue/no-useless-mustaches": ["error"],
		"vue/no-useless-v-bind": ["error"],
		"vue/no-v-text": ["error"],
		"vue/padding-line-between-blocks": ["error", "always"],
		"vue/padding-line-between-tags": ["error", [{ "blankLine": "never", "prev": "*", "next": "*" }]],
		"vue/padding-lines-in-component-definition": ["error", "never"],
		"vue/prefer-prop-type-boolean-first": "off",
		"vue/prefer-separate-static-class": "off",
		"vue/prefer-true-attribute-shorthand": ["error"],
		"vue/require-direct-export": ["error"],
		"vue/require-emit-validator": "off",
		"vue/require-expose": "off",
		"vue/require-name-property": "off",
		"vue/require-prop-comment": "off",
		"vue/script-indent": ["error", "tab", { "baseIndent": 0, "switchCase": 1 }],
		"vue/sort-keys": "off",
		"vue/static-class-names-order": "off",
		"vue/v-for-delimiter-style": ["error", "in"],
		"vue/v-on-handler-style": ["error", ["method", "inline"]],
		// extension rules
		"vue/array-bracket-newline": ["error", "consistent"],
		"vue/array-bracket-spacing": ["error", "never"],
		"vue/array-element-newline": ["error", "consistent"],
		"vue/arrow-spacing": ["error", { "before": true, "after": true }],
		"vue/block-spacing": ["error", "always"],
		"vue/brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"vue/camelcase": ["error"],
		"vue/comma-dangle": ["error", "always-multiline"],
		"vue/comma-spacing": ["error", { "before": false, "after": true }],
		"vue/comma-style": ["error", "last"],
		"vue/dot-location": ["error", "property"],
		"vue/dot-notation": ["error"],
		"vue/eqeqeq": ["error", "always"],
		"vue/func-call-spacing": ["error", "never"],
		"vue/key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"vue/keyword-spacing": ["error", { "before": true, "after": true }],
		"vue/max-len": "off",
		"vue/multiline-ternary": "off",
		"vue/no-constant-condition": ["error", { "checkLoops": false }],
		"vue/no-empty-pattern": ["error"],
		"vue/no-extra-parens": "off",
		"vue/no-irregular-whitespace": ["error"],
		"vue/no-loss-of-precision": ["error"],
		"vue/no-restricted-syntax": "off",
		"vue/no-sparse-arrays": ["error"],
		"vue/no-useless-concat": ["error"],
		"vue/object-curly-newline": ["error", { "consistent": true }],
		"vue/object-curly-spacing": ["error", "always"],
		"vue/object-property-newline": "off",
		"vue/object-shorthand": ["error"],
		"vue/operator-linebreak": ["error", "before"],
		"vue/prefer-template": ["error"],
		"vue/quote-props": "off",
		"vue/space-in-parens": ["error", "never"],
		"vue/space-infix-ops": ["error"],
		"vue/space-unary-ops": ["error", { "words": true, "nonwords": false }],
		"vue/template-curly-spacing": ["error", "never"],
		// disable error
		"vue/no-multiple-template-root": "off"
	},
  "globals": {
    "defineNuxtConfig": true
  }
}
