:root {
  --font-weight-thin: 100;
  --font-weight-lighter: 200; // or extra-light
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 800; // or extra-bold
  --font-weight-black: 900;
}
